/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Happy+Monkey&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Happy Monkey", sans-serif;
    --secondary-font: "Galindo", serif;
    --primary-color: #ffffff;
    /* white */
    --secondary-color: #fffade;
    /* pale yellow */
}

/* Global styles */

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color) !important;
}

p {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

body {
    background-image: url("../images/space-scramble-bg.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* mute/unmute button */
header #volume-button {
    font-size: 2rem;
    color: #ffffff;
    background-color: transparent;
    min-width: 20px;
    border: none;
    padding: 40px 20px;
}

/* Game title*/
.game-title {
    text-align: center;
    margin-top: 30px;
}

.game-title h1 {
    font-family: var(--secondary-font);
    font-size: 5rem;
    color: var(--secondary-color);
}

/* Game box styling */
.container {
    border-radius: 20px;
    margin-top: 30vh;
    text-align: center;
    background-color: #000560;
    max-width: fit-content;
}

/* Scrambled word styling */
.container .word {
    margin-top: 50px;
    font-size: 2.5rem;
    letter-spacing: 20px;
    text-transform: uppercase;
}

/* Hint styling */
.container .hint,
.timer {
    font-size: 1.5rem;
    padding-top: 20px;
}

/* Input word div styling */
.container input {
    width: 75%;
    height: 5vh;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    background: #ffffff;
    margin-bottom: 30px;
    font-family: var(--primary-font);
}

/* Buttons */
.container button {
    margin-left: 10px;
    background-color: var(--primary-color);
    text-align: center;
    height: 3rem;
    margin-bottom: 50px;
    font-family: var(--primary-font);
}

.container button:hover {
    background-color: #eed0ff;
    transition: color 0.4s ease-in-out;
}

/* Button to trigger the modal */
.btn-primary {
    background-color: #000560 !important;
    font-family: var(--primary-font) !important;
    font-size: 1.5rem !important;
    padding: 10px 20px;
    margin: 30px 40px;
    border-radius: 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.btn-primary:hover {
    background-color: #020bb8 !important;
}

/* Modal Styling */

.modal-content {
    background: #000560;
    border-radius: 15px;
    font-family: var(--primary-font);
}

.modal-title {
    font-family: var(--secondary-font);
    color: #000560;
}

/* Media queries */
/* Media query: Extra Small screens (<576px) */
@media screen and (max-width: 575px) {
    .game-title h1 {
        font-size: 2rem;
    }

    .container {
        margin-top: 5vh;
        max-width: fit-content;
    }

    .container .word {
        font-size: 1rem;
        letter-spacing: 20px;

    }

    .container .hint,
    .timer {
        font-size: 1rem;
        padding-top: 20px;

    }


    .container input {
        width: 90%;
    }

    .container button {
        max-width: 15rem;
    }
}

/* Media query: Small screens (≥576px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .game-title h1 {
        font-size: 3rem;
    }

    .container {
        margin-top: 18vh;
    }

    .container .word {
        font-size: 2rem;
    }

    .container input {
        width: 80%;
    }

    .container button {
        font-size: 1.2rem;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .game-title h1 {
        font-size: 4rem;
    }

    .container {
        margin-top: 15vh;
    }

    .container .word {
        font-size: 3rem;
    }

    .container input {
        width: 60%;
    }

    .container button {
        font-size: 1.3rem;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    .game-title h1 {
        font-size: 5rem;
    }

    .container {
        margin-top: 10vh;
        padding-bottom: 10vh;
    }

    .container .word {
        font-size: 3.5rem;
    }

    .container input {
        width: 50%;
    }

    .container button {
        font-size: 1.5rem;
    }
}

/* Extra large devices (large laptops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .game-title h1 {
        font-size: 6rem;
    }

    .container {
        margin-top: 8vh;
    }

    .container .word {
        font-size: 4rem;
    }

    .container input {
        width: 40%;
    }

    .container button {
        font-size: 1.7rem;
    }
}