/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Happy+Monkey&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Happy Monkey", sans-serif;
    --secondary-font: "Galindo", serif;
    --primary-color: #ffffff;
    /* white */
    --secondary-color: #fffade;
    /* pale yellow */
}

/* Global styles */

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color) !important;
}

p {
    font-family: var(--primary-font);
    color: var(--primary-color);

}

body {
    background-color: #3f0676 !important;
}

/* Game box styling */
.container {
    border-radius: 20px;
    margin-top: 30vh;
    text-align: center;
    background-color: #000560;
}

/* Scrambled word styling */
.container .word {
    margin-top: 50px;
    font-size: 2.5rem;
    letter-spacing: 20px;
    text-transform: uppercase;
}

/* Hint styling */
.container .hint,
.timer {
    font-size: 1.5rem;
    padding-top: 20px;
}

/* Input word div styling */
.container input {
    width: 75%;
    height: 5vh;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    background: #ffffff;
    margin-bottom: 30px;
    font-family: var(--primary-font);
}

/* Buttons */
.container button {
    margin-left: 10px;
    background-color: var(--primary-color);
    text-align: center;
    height: 3rem;
    margin-bottom: 50px;
    font-family: var(--primary-font);
}

.container button:hover {
    background-color: #eed0ff;
    transition: color 0.4s ease-in-out;
}

/* Button to trigger the modal */
.btn-primary {
    background-color: #000560 !important;
    font-family: var(--primary-font) !important;
    font-size: 1.5rem !important;
    padding: 10px 20px;
    margin: 30px 40px;
    border-radius: 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.btn-primary:hover {
    background-color: #020bb8 !important;
}